---
http_interactions:
- request:
    method: get
    uri: https://sod.superoffice.com/Cust25708/api/v1/List/Task/MDOItems
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"TableRight":null,"FieldProperties":{},"Id":1,"Name":"Meeting (Internal)","ToolTip":"Meeting
        (Internal)","Deleted":false,"Rank":1,"Type":"task","ChildItems":[],"IconHint":"task","ColorBlock":0,"ExtraInfo":"","StyleHint":"","FullName":""},{"TableRight":null,"FieldProperties":{},"Id":2,"Name":"Meeting
        (External)","ToolTip":"Meeting (External)","Deleted":false,"Rank":2,"Type":"task","ChildItems":[],"IconHint":"task","ColorBlock":0,"ExtraInfo":"","StyleHint":"","FullName":""},{"TableRight":null,"FieldProperties":{},"Id":3,"Name":"Phone-Out","ToolTip":"Phone-Out","Deleted":false,"Rank":3,"Type":"task","ChildItems":[],"IconHint":"task","ColorBlock":0,"ExtraInfo":"","StyleHint":"","FullName":""},{"TableRight":null,"FieldPro[...]
