---
http_interactions:
- request:
    method: get
    uri: https://sod.superoffice.com/Cust25708/api/v1/Archive/Person
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      DataServiceVersion:
      - '3.0'
    body:
      encoding: UTF-8
      string: '{"odata.metadata":"https://sod.superoffice.com:443/Cust25708/api/v1/Archive//$metadata","value":[{"PrimaryKey":"5","EntityName":"person","personInterestIds":"","hasStoreConsent":true,"hasEmarketingConsent":false,"isMailingRecipient":true,"subscription":"","legalBaseStore":"NO:\"Berettiget
        interesse\";IT:\"Interesse legittimo\";PL:\"Prawnie uzasadnione interesy\";JP:\"正当な利益\";CN:\"合法权益\";FR:\"Intérêt
        légitime\";CZ:\"Oprávněný zájem\";SP:\"Interés legítimo\";SW:\"Legitimt intresse\";NL:\"Rechtmatig
        belang\";DA:\"Legitim interesse\";FI:\"Oikeutettu etu\";GE:\"Berechtigte Interessen\";US:\"Legitimate
        interest\";RU:\"Законный интерес\"","legalBaseEmarketing":"","consentSourceStore":"NO:\"Ukjent\";IT:\"Sconosciuto\";PL:\"Nieznane\";JP:\"不明\";CN:\"未知\";FR:\"Inconnu\";CZ:\"Neznámé\";SP:\"Desconocido\";SW:\"Okänt\";NL:\"Onbekend\";DA:\"Ukendt\";FI:\"Tuntematon\";GE:\"Unbekannt\";US:\"Unknown\";RU:\"Неизвестно\"","consentSourceEmarketing":"","personId":5,"firstName":"Adam","middleName":"","lastName":"MissingLastname","contactId":2,"personDeletedDate":"0001-01-01T00:00:00","mrMrs":"","personNumber":"10011","title":"","useAsMailingAddress":false,"position":"","personCountry":"United
        Kingdom","rank":1,"retired":false,"birthYear":0,"birthMonth":0,"birthDay":0,"kanaFirstName":"","kanaLastName":"","supportAssociate":"","supportLanguage":"","ticketPriority":"","personAssociateId":"","personCategory":"Supplier","personBusiness":"Industry","personSource":"Sales
        & Marketing","portraitThumbnail":"","personActiveErpLinks":false,"hasCompany":true,"personRegisteredBy":"sysCust25708","personRegisteredDate":"2018-07-02T14:09:52","fullName":"Adam
        MissingLastname","fullNameWithContact":"Adam MissingLastname (Saleskick AB)","hasInfoText":false,"hasInterests":false,"birthdate":"0001-01-01T00:00:00","personNoMail":true,"associateType":"Associate_Current","personUpdatedBy":"AM","personUpdatedDate":"2018-07-06T08:20:53"},{"PrimaryKey":"6","EntityName":"person","personInterestIds":"","hasStoreConsent":true,"hasEmarketingConsent":false,"isMailingRecipient":true,"subscription":"","legalBaseStore":"NO:\"Berettiget
        interesse\";IT:\"Interesse legittimo\";PL:\"Prawnie uzasadnione interesy\";JP:\"正当な利益\";CN:\"合法权益\";FR:\"Intérêt
        légitime\";CZ:\"Oprávněný zájem\";SP:\"Interés legítimo\";SW:\"Legitimt intresse\";NL:\"Rechtmatig
        belang\";DA:\"Legitim interesse\";FI:\"Oikeutett[...]
