---
http_interactions:
- request:
    method: get
    uri: https://sod.superoffice.com/Cust25708/api/v1/Archive/Person?%24select=email%2FemailAddress
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      DataServiceVersion:
      - '3.0'
    body:
      encoding: UTF-8
      string: '{"odata.metadata":"https://sod.superoffice.com:443/Cust25708/api/v1/Archive//$metadata","value":[{"PrimaryKey":"1","EntityName":"person","email/emailAddress":"marie.degreeve@superoffice.co.uk"},{"PrimaryKey":"2","EntityName":"person","email/emailAddress":"matt.cove@superoffice.co.uk"},{"PrimaryKey":"3","EntityName":"person","email/emailAddress":"weronika.dabrowska@superoffice.co.uk"},{"PrimaryKey":"4","EntityName":"person","email/emailAddress":"chris.massen@superoffice.co.uk"},{"PrimaryKey":"5","EntityName":"person","email/emailAddress":"adamo@saleskick.co"},{"PrimaryKey":"6","EntityName":"person","email/emailAddress":"chris@saleskick.co"},{"PrimaryKey":"7","EntityName":"person","email/emailAddress":""},{"PrimaryKey":"8","EntityName":"person","email/emailAddress":""},{"PrimaryKey":"9","EntityName":"person","email/emailAddress":"mat@saleskick.co"},{"PrimaryKey":"10","EntityName":"person","email/emailAddress":""},{"PrimaryKey":"11","EntityName":"person","email/emailAddress":"kuvidiku@99pubblicita.com"}]}'
      effective_url: https://sod.superoffice.com/Cust25708/api/v1/Archive/Person?%24select=email%2FemailAddress
  recorded_at: Mon, 09 Jul 2018 17:29:30 GMT
recorded_with: VCR 4.0.0
