---
http_interactions:
- request:
    method: get
    uri: https://sod.superoffice.com/Cust25708/api/v1/Archive/Appointment?%24filter=associateId%20eq%205%20and%20type%20oneOf%20%281%29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      DataServiceVersion:
      - '3.0'
    body:
      encoding: UTF-8
      string: '{"odata.metadata":"https://sod.superoffice.com:443/Cust25708/api/v1/Archive//$metadata","value":[{"PrimaryKey":"10","EntityName":"appointment","visibleFor":"[SR_VFC_ALL]","type":"Meeting
        (Internal)","priority":"","date":"2018-07-06T11:40:05","endDate":"2018-07-06T00:00:00","associateId":"AM","appointmentId":10,"contactId":2,"personId":5,"projectId":0,"saleId":0,"userGroup":"Sales","recurrenceRuleId":0,"rawStatus":3,"rawType":2,"location":"","suggestedAppointmentId":0,"intention":"","isMilestone":false,"registeredBy":"AM","registeredDate":"2018-07-06T11:40:05","completed":true,"completedDate":"2018-07-06T00:00:00","icon":"Appointment","recordType":"Appointment","time":"2018-07-06T11:40:05","endTime":"2018-07-06T00:00:00","text":"","alarm":false,"recurring":false,"booking":false,"visibleInDiary":false,"updatedBy":"AM","updatedDate":"2018-07-06T11:40:05","who":"","participating":true}]}'
      effective_url: https://sod.superoffice.com/Cust25708/api/v1/Archive/Appointment?%24filter=associateId%20eq%205%20and%20type%20oneOf%20%281%29
  recorded_at: Wed, 11 Jul 2018 13:30:59 GMT
recorded_with: VCR 4.0.0
