---
http_interactions:
- request:
    method: get
    uri: https://sod.superoffice.com/Cust25708/api/v1/Archive/InternalUsers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      DataServiceVersion:
      - '3.0'
    body:
      encoding: UTF-8
      string: '{"odata.metadata":"https://sod.superoffice.com:443/Cust25708/api/v1/Archive//$metadata","value":[{"PrimaryKey":"5","EntityName":"all","otherGroups":"Sales","associateDbId":5,"ejUserId":2,"assocName":"AM","assocTooltip":"","userName":"adam@saleskick.co","personId":5,"firstName":"Adam","lastName":"MissingLastname","middleName":"","contactId":2,"mrMrs":"","title":"","contactName":"Saleskick
        AB","contactDepartment":"","contactCategory":"Supplier","contactFullName":"Saleskick
        AB","assocType":"","simultaneousEjUser":false,"ejDisplayName":"AM","ejStatus":1,"usergroup":"Sales","role":"User
        level 0","credentialType":"[SR_SUPERID_TYPE]","credentialDisplayValue":"","portraitThumbnail":"","fullName":"Adam
        MissingLastname","isActive":true,"superoffice_visible-for":0,"superoffice_superlicense-no-selection":0,"superoffice_superlicense-contact-manager":0,"superoffice_superlicense-marketing-pro":0,"superoffice_superlicense-sales-pro":0,"superoffice_superlicense-service-pro":0,"superoffice_superlicense-complete":1},{"PrimaryKey":"6","EntityName":"all","otherGroups":"Sales","associateDbId":6,"ejUserId":3,"assocName":"CR","assocTooltip":"","userName":"chris@saleskick.co","personId":6,"firstName":"Chris","lastName":"Rybka","middleName":"","contactId":2,"mrMrs":"Mr.","title":"","contactName":"Saleskick
        AB","contactDepartment":"","contactCategory":"Supplier","contactFullName":"Saleskick
        AB","assocType":"","simultaneousEjUser":false,"ejDisplayName":"CR","ejStatus":1,"usergroup":"Sales","role":"User
        level 0","credentialType":"[SR_SUPERID_TYPE]","credentialDisplayValue":"","portraitThumbnail":"","fullName":"Chris
        Rybka","isActive":true,"superoffice_visible-for":0,"superoffice_superlicense-no-selection":0,"superoffice_superlicense-contact-manager":0,"superoffice_superlicense-marketing-pro":0,"superoffice_superlicense-sales-pro":0,"superoffice_superlicense-service-pro":0,"superoffice_superlicense-complete":1}]}'
      effective_url: https://sod.superoffice.com/Cust25708/api/v1/Archive/InternalUsers
  recorded_at: Thu, 05 Jul 2018 15:07:22 GMT
recorded_with: VCR 4.0.0
