---
http_interactions:
- request:
    method: get
    uri: https://sod.superoffice.com/Cust25708/api/v1/Archive/Sale?%24select=date&%24filter=saleStatus%20oneOf%20%281%29
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer access_token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      DataServiceVersion:
      - '3.0'
    body:
      encoding: UTF-8
      string: '{"odata.metadata":"https://sod.superoffice.com:443/Cust25708/api/v1/Archive//$metadata","value":[{"PrimaryKey":"3","EntityName":"sale","date":"2018-10-03T00:00:00"},{"PrimaryKey":"4","EntityName":"sale","date":"2018-10-03T00:00:00"},{"PrimaryKey":"6","EntityName":"sale","date":"2018-10-04T00:00:00"},{"PrimaryKey":"7","EntityName":"sale","date":"2018-10-04T00:00:00"}]}'
      effective_url: https://sod.superoffice.com/Cust25708/api/v1/Archive/Sale?%24select=date&%24filter=saleStatus%20oneOf%20%281%29
  recorded_at: Thu, 12 Jul 2018 10:40:53 GMT
recorded_with: VCR 4.0.0
