---
http_interactions:
- request:
    method: post
    uri: https://sod.superoffice.com/login/common/oauth/tokens
    body:
      encoding: US-ASCII
      string: grant_type=refresh_token&client_id=client_id&client_secret=client_secret&redirect_uri=test_redirect_uri&scope=openid&refresh_token=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: |-
        {"token_type": "Bearer",  "access_token": "new_access_token",
         "expires_in": 3600, "id_token": "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.ew0KICAiaHR0cDovL3NjaGVtZXMuc3VwZXJvZmZpY2UubmV0L2lkZW50aXR5L3dlYmFwaV91cmwiOiAiaHR0cHM6Ly9zb2Quc3VwZXJvZmZpY2UuY29tL0N1c3QyNTcwOC9hcGkvIg0KfQ==."}
      effective_url: https://sod.superoffice.com/login/common/oauth/tokens
  recorded_at: Wed, 04 Jul 2018 11:59:35 GMT
recorded_with: VCR 4.0.0
